services:
  webapi:
    image: 192.168.1.3:5000/rsm:${TAG:-latest}
    # build:
    #   context: "../microservices/Service1"
    #   dockerfile: Service1/Dockerfile
    deploy:
      mode: global
      replicas: 1
      restart_policy:
        condition: on-failure
        max_attempts: 3
      placement:
        constraints:
          - node.role == manager
    networks:
      - net-mesh
