services:
  rsm:
    image: 192.168.1.3:5000/rsm:${TAG:-latest}
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        max_attempts: 3
      placement:
        constraints:
          - node.role == manager
    volumes:
      - /home/iomarius/docker/rsm:/app/data
    networks:
      - net-mesh

networks:
  net-mesh:
    external: true